
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100&display=swap'); /* Fuente Poppins y Pacifico*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.navegation-bar {
  background-color: #F7BECF; 
  color: #A46E7E; 
  padding: 10px; 
  display: flex; 
  justify-content: space-between; 
}

.logo {
    font-family: Pacifico;
    font-size: 24px; 
}

.navegation-items {
  list-style: none; 
  display: flex; 
  margin: 0;
  padding: 0;
  align-items: center;
}

.navegation-item {
  margin-right: 20px; 
}

.navegation-item a {
  text-decoration: none; 
  color: #A46E7E; 
  font-family: Roboto;
  font-weight: bold;
}

.navegation-item a:hover {
    color: #000;
    transition: color 1s;
}

.navegation-logo {
  width: 100px;
  height: 100px;
}