@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); /* Fuente Roboto */

.footer {
    background-color: #A46E7E
}

.footer-content {
    justify-content: space-between;
    display: flex;
    margin: 15px;
}

.footer-info, .footer-social {
    font-family: Roboto;
}

.footer-logo {
    width: 200px;
    height: 200px;
}